<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>largerImageUrl</key>
		<string>http://183.136.166.248/cdn.lizhi.fm/radio_cover/2014/04/18/10964871124928898_640x640.jpg</string>
		<key>title</key>
		<string>老梁故事汇</string>
		<key>anuthorImageUrl</key>
		<string>http://118.123.114.174/cdn.lizhi.fm/user/2014/01/13/8761406331809026_320x320.jpg</string>
	</dict>
	<dict>
		<key>largerImageUrl</key>
		<string>http://118.123.99.42/cdn.lizhi.fm/radio_cover/2013/10/12/6596588463244164_640x640.jpg</string>
		<key>title</key>
		<string>哓哓故事汇</string>
		<key>anuthorImageUrl</key>
		<string></string>
	</dict>
	<dict>
		<key>largerImageUrl</key>
		<string>http://118.116.6.247/cdn.lizhi.fm/radio_cover/2014/03/20/10295631478098436_640x640.jpg</string>
		<key>title</key>
		<string>天天故事会</string>
		<key>anuthorImageUrl</key>
		<string>http://118.123.114.174/cdn.lizhi.fm/user/2014/04/30/11240055402359938_320x320.jpg</string>
	</dict>
	<dict>
		<key>largerImageUrl</key>
		<string>http://118.116.6.247/cdn.lizhi.fm/radio_cover/2013/12/20/8198423364801282_640x640.jpg</string>
		<key>title</key>
		<string>小葱故事会</string>
		<key>anuthorImageUrl</key>
		<string>http://183.136.166.248/cdn.lizhi.fm/user/2014/03/20/10296361698704514_320x320.jpg
http://183.136.166.248/cdn.lizhi.fm/user/2014/03/20/10296361698704514_320x320.jpg
http://183.136.166.248/cdn.lizhi.fm/user/2014/03/20/10296361698704514_320x320.jpg</string>
	</dict>
	<dict>
		<key>largerImageUrl</key>
		<string>http://183.136.166.248/cdn.lizhi.fm/radio_cover/2014/06/25/12530320127113476_640x640.jpg</string>
		<key>title</key>
		<string>冰与火故事会</string>
		<key>anuthorImageUrl</key>
		<string></string>
	</dict>
	<dict>
		<key>largerImageUrl</key>
		<string>http://183.136.166.248/cdn.lizhi.fm/radio_cover/2014/05/08/11432378041774084_640x640.jpg</string>
		<key>title</key>
		<string>清晨空中故事会</string>
		<key>anuthorImageUrl</key>
		<string>http://118.123.114.174/cdn.lizhi.fm/user/2014/05/08/11430195990757506_320x320.jpg</string>
	</dict>
	<dict>
		<key>largerImageUrl</key>
		<string>http://118.116.6.247/cdn.lizhi.fm/radio_cover/2014/05/22/11744435930890628_640x640.jpg</string>
		<key>title</key>
		<string>皮克布克故事会</string>
		<key>anuthorImageUrl</key>
		<string></string>
	</dict>
</array>
</plist>
